
.heading {
    width: 100%;
    text-align: left;
    background-color: rgb(249, 49, 49);
}

.heading h1 {
    display: inline;
}

.heading button{
    float: right;
    background-color: rgb(255, 94, 94);
}

#start, #status{
    font-size: 22px;
}

canvas
{
    border-radius: 20px;
    border: solid 5px yellow;
}

#footer
{
    text-align: center;
}